<ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
    {% for categorie in categories|slice(0, 4) %}
        <li>
            <a href="#" class="dropdown-item">{{categorie.name}}</a>
        </li>
    {% endfor %}
    <li class="dropdown-divider"></li>
    <li>
        <a href="#" class="dropdown-item">Voir tous</a>
    </li>
    {#  #}

    <!-- Level two dropdown-->
    {# <li class="dropdown-submenu dropdown-hover">
         <a id="dropdownSubMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">Hover for action</a>
         <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">
             <li>
                 <a tabindex="-1" href="#" class="dropdown-item">level 2</a>
             </li>
 
             <!-- Level three dropdown-->
             <li class="dropdown-submenu">
                 <a id="dropdownSubMenu3" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">level 2</a>
                 <ul aria-labelledby="dropdownSubMenu3" class="dropdown-menu border-0 shadow">
                     <li><a href="#" class="dropdown-item">3rd level</a></li>
                     <li><a href="#" class="dropdown-item">3rd level</a></li>
                 </ul>
             </li>
             <!-- End Level three -->
 
             <li><a href="#" class="dropdown-item">level 2</a></li>
             <li><a href="#" class="dropdown-item">level 2</a></li>
         </ul>
     </li>#}
    <!-- End Level two -->
</ul>