{% extends 'base.html.twig' %}


{% block body %} 

    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h4>{{plats|length}} sont trouvés pour la recherche "{{search}}"</h4>
                </div>
                
            </div>
        </div> 
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container">  
            <div class="row">
                {% for plat in plats %}
                    <div class="col-md-4"> 
                        <div class="attachment-block clearfix">
                            <img class="attachment-img" src="../dist/img/photo1.png" alt="Attachment Image">

                            <div class="attachment-pushed">
                                <h4 class="attachment-heading"><a href="https://www.lipsum.com/">{{plat.name}}</a></h4>

                                <div class="attachment-text">
                                    <div>  {{plat.restau.name}}</div>
                                    <div> {{plat.prix}} <i class="fas fa-euro-sign"></i></div>
                                </div>
                                <!-- /.attachment-text -->
                            </div>
                            <!-- /.attachment-pushed -->
                        </div>

                    </div>
                {% endfor %}
            </div> 

        </div>
    </div>

{% endblock %}

