<tr class="expandable-body">
    <td>
        <div class="p-0">
            <table class="table table-hover">
                <tbody> 
                    {% for child in childs %} 
                        {% set haschild = render (controller('App\\Controller\\CategoryController::haschild',{"categ":child.id}))  %}
                        <tr data-widget="expandable-table" aria-expanded="{% if haschild == "1" %}true{% else %}false{% endif %}">
                            <td>

                                {% if haschild == "1" %}
                                    <i class="fas fa-caret-right fa-fw"></i>
                                {% endif %}
                                {{child.name}}
                            </td>
                        </tr> 


                        {% if haschild == "1" %}
                            {{render (controller('App\\Controller\\CategoryController::displaychildscategories',{"parent":child.id}))  }}

                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </td>
</tr>

