{% extends 'baseadmin.html.twig' %}


{% block body %} 

    <div class="row">

        <div class="col-lg-9">
            <a type="button" class="float-right" data-toggle="modal" data-target="#modal-sm" ><i class="fa fa-plus"></i>Ajouter catégorie</a>
        </div>
        <div class="col-lg-3">
        </div>
        <div class="col-lg-9">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Tous les catégories</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0 render_categ">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Nom</th>
                                <th>Crée par</th>
                                <th>Crée le</th>
                                <th style="width: 40px">Label</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for categorie in categories %}
                                <tr>
                                    <td>{{categorie.id}}</td>
                                    <td>{{categorie.name}}</td>
                                    <td>
                                        {{categorie.createdby.fullname}}
                                    </td>
                                    <td>
                                        {{categorie.createdat|date("d-m-Y")}}
                                    </td>
                                    <td><span class="badge bg-danger">55%</span></td>
                                </tr>
                            {% endfor %} 
                        </tbody>
                    </table>
                    <center><strong>{{ knp_pagination_render(categories, 'pagination.html.twig') }}</strong></center>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Arborescence catégories</h3>
                </div>
                <!-- ./card-header -->
                <div class="card-body p-0">
                    {#
                                        <table class="table table-hover">
                                            <tbody>
                                           
                                                <tr data-widget="expandable-table" aria-expanded="true">
                                                    <td>
                                                        <i class="fas fa-caret-right fa-fw"></i>
                                                        219
                                                    </td>
                                                </tr>
                                                <tr class="expandable-body">
                                                    <td>
                                                        <div class="p-0">
                                                            <table class="table table-hover">
                                                                <tbody>
                                                                    <tr data-widget="expandable-table" aria-expanded="false">
                                                                        <td>
                                                                            <i class="fas fa-caret-right fa-fw"></i>
                                                                            219-1
                                                                        </td>
                                                                    </tr>
                                                                    <tr class="expandable-body">
                                                                        <td>
                                                                            <div class="p-0">
                                                                                <table class="table table-hover">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td>219-1-1</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>219-1-2</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>219-1-3</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>219-2</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>219-3</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                    
                                            </tbody>
                                        </table>
                    
                    #}  
                    <table class="table table-hover">
                        <tbody>
                            {% for categ in categs %}
                                {% set haschild = render (controller('App\\Controller\\CategoryController::haschild',{"categ":categ.id}))  %}

                                <tr {% if haschild == "1" %} data-widget="expandable-table" aria-expanded="true" {% endif %}>


                                    <td class="border-0">
                                        {% if haschild == "1" %}
                                            <i class="fas fa-caret-right fa-fw"></i>
                                        {% endif %} 
                                        {{categ.name}}
                                    </td>
                                </tr>
                                {% if haschild == "1" %}
                                    {{render (controller('App\\Controller\\CategoryController::displaychildscategories',{"parent":categ.id}))  }}

                                {% endif%}
                            {% endfor %}



                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>






        <div class="modal fade" id="modal-sm">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <form action="{{path("addcategory")}}" method="POST" enctype="multipart/form-data">
                        <div class="modal-header">
                            <h4 class="modal-title">Ajouter Catégorie</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="card-body">
                                <div class="form-group">
                                    <label for="Nom">Nom</label>
                                    <input type="text" class="form-control" name="nom" placeholder="Nom" required>
                                </div>

                                <div class="form-group">
                                    <label for="Sous">Sous</label>
                                    <select class="form-control" name="parent">
                                        <option value="0">Séléctionner</option>
                                        {% for categ in categs %}
                                            <option value="{{categ.id}}">{{categ.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputFile">Image</label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="imagecateg" name="imagecateg">
                                            <label class="custom-file-label" for="imagecateg">Choose file</label>
                                        </div>
                                        <div class="input-group-append">
                                            <span class="input-group-text">Upload</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- /.card-body -->


                        </div>
                        <div class="modal-footer justify-content-between"> 
                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>

{% endblock %}
{% block added_javascripts %} 
    <script src="{{asset('custom/category.js')}}"></script>
{% endblock %}
