<table class="table table-sm">
    <thead>
        <tr>
            <th style="width: 10px">#</th>
            <th>Nom</th>
            <th>Crée par</th>
            <th>Crée le</th>
            <th style="width: 40px">Label</th>
        </tr>
    </thead>
    <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{categorie.id}}</td>
                <td>{{categorie.name}}</td>
                <td>
                    {{categorie.createdby.fullname}}
                </td>
                <td>
                    {{categorie.createdat|date("d-m-Y")}}
                </td>
                <td><span class="badge bg-danger">55%</span></td>
            </tr>
        {% endfor %} 
    </tbody>
</table>
<center><strong>{{ knp_pagination_render(categories, 'pagination.html.twig') }}</strong></center>
