{% extends 'offline.html.twig' %}

{% block body %} 
    <div class="card">
        <div class="card-body register-card-body">
            <p class="login-box-msg">Register a new membership</p>
            {% if app.session.flashBag.has('Success') %} 

                <div class="callout callout-success">
                    <h5>Succès</h5>

                    <p>
                        {% for flashMessage in app.session.flashbag.get('Success') %} 
                            {{ flashMessage }} 
                        {% endfor %}
                    </p>
                </div>

            {% endif %}
            {% if app.session.flashBag.has('error') %}    

                <div class="callout callout-danger">
                    <h5>Oops!</h5>

                    <p>
                        {% for flashMessage in app.session.flashbag.get('error') %} 
                            {{ flashMessage }} 
                        {% endfor %}
                    </p>
                </div>


            {% endif %}
            <form action="{{path('add_customer')}}" method="post" enctype="multipart/form-data">
                <div class="input-group mb-3">
                    <input value="{{firstname}}" name="firstname" type="text" class="form-control" placeholder="Firstname" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input value="{{lastname}}" name="lastname" type="text" class="form-control" placeholder="Lastname" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input value="{{email}}" name="email" type="email" class="form-control" placeholder="Email" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input  type="password" name="password" class="form-control" placeholder="Password" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div> 

                <div class="input-group mb-3">
                    <input value="{{phone}}" name="phone" type="text" class="form-control" placeholder="Numéro téléphone" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-phone"></span>
                        </div>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <input value="{{name}}" name="restau" type="text" class="form-control" placeholder="Nom restaurant" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-company"></span>
                        </div>
                    </div>
                </div>  
                <div class="input-group mb-3">
                    <textarea value="{{desc}}" name="desc" type="text" class="form-control" placeholder="Desc restaurant" ></textarea>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-company"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input name="logo" type="file" class="custom-file-input" id="exampleInputFile" required>
                            <label class="custom-file-label" for="exampleInputFile">Choisissez fichier</label>
                        </div>
                        <div class="input-group-append">
                            <span class="input-group-text">Upload</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">

                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            {# <div class="social-auth-links text-center">
                 <p>- OR -</p>
                 <a href="#" class="btn btn-block btn-primary">
                     <i class="fab fa-facebook mr-2"></i>
                     Sign up using Facebook
                 </a>
                 <a href="#" class="btn btn-block btn-danger">
                     <i class="fab fa-google-plus mr-2"></i>
                     Sign up using Google+
                 </a>
             </div>
 #}
            <a href="{{path('login')}}" class="text-center">I already have a membership</a>
        </div>
        <!-- /.form-box -->
    </div><!-- /.card -->

{% endblock %} 