{% extends 'baseadmin.html.twig' %}


{% block body %} 

    <div class="row">
        {% for restau in restaux %}
 <div class="col-md-4">
            <!-- Widget: user widget style 1 -->
            <div class="card card-widget widget-user">
              <!-- Add the bg color to the header using any of the bg-* classes -->
              <div class="widget-user-header text-white"
                   style="background: url('{{asset('dist/img/photo1.png')}}') center center;">
                <h3 class="widget-user-username text-right">{{restau.name}}</h3>
                <h5 class="widget-user-desc text-right">{{restau.user.fullname}}</h5>
              </div>
              <div class="widget-user-image">
                <img class="img-circle" src="{{asset('dist/img/user3-128x128.jpg')}}" alt="User Avatar">
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-sm-4 border-right">
                    <div class="description-block">
                      <h5 class="description-header">3200</h5>
                      <span class="description-text">Plats</span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-4 border-right">
                    <div class="description-block">
                      <h5 class="description-header">1000</h5>
                      <span class="description-text">Categories</span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-4">
                    <div class="description-block">
                      <h5 class="description-header">35</h5>
                      <span class="description-text">Commandes</span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
            </div>
            <!-- /.widget-user -->
          </div> 
        {% endfor %}

    </div>

{% endblock %}
