{% extends 'base.html.twig' %}

{% block body %}

    <div class="content-header">
        <div class="container">

        </div><!-- /.container-fluid -->
    </div> 
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container">  
            <div class="row">
                <div class="col-12 col-sm-6"> 
                    <div class="col-12">
                        <img src="{{asset('images/service-restaurant.jpg')}}" class="product-image" alt="Product Image">
                    </div> 
                </div>
                <div class="col-12 col-sm-6">
                    <br><br><br><br>
                    <h3 class="my-3">Créez votre programme de repas</h3>
                    <p>Il est facile d'ajouter des employés et de définir des autorisations pour l'heure, le lieu et le budget.</p>
                    <a href="{{path('add_customer')}}" class="btn btn-sm btn-default">Commencer gratuitement</a>
                </div>
            </div>
            <br><br><br><br><br> 
            <div class="row">
                <div class="col-12 col-sm-6">

                    <br><br><br><br>
                    <h3 class="my-3">La livraison</h3>
                    <p>Découvrez comment la livraison de repas peut alimenter votre entreprise</p>
                    <a href="{{path('add_customer')}}" class="btn btn-sm btn-default">Commencer gratuitement</a>
                </div>
                <div class="col-12 col-sm-6">

                    <div class="col-12">
                        <img src="{{asset('images/livraison.jpg')}}" class="product-image" alt="Product Image">
                    </div> 
                </div>
            </div>

            <br><br><br><br>
        </div>
    </div>



{% endblock %}
