{% extends 'baseadmin.html.twig' %}

{% block title %}Hello DashController!{% endblock %}

{% block body %} 

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/restau/src/Controller/DashController.php'|file_link(0) }}">src/Controller/DashController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/restau/templates/dash/index.html.twig'|file_link(0) }}">templates/dash/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
