 
{% if pageCount > 1 %}
    <nav aria-label="Page Navigation">
    <ul class="pagination justify-content-center m-0">
        {% if first is defined and current != first %}

            <li class="page-item"> 
                <a nb="{{ first }}" href="javascript:void(0)"  class="page-link changePagination">
                    <i class="fa fa-angle-left"></i>
                    <i class="fa fa-angle-left"></i> 
                </a>
            </li>    
        {% endif %}  

        {% if previous is defined %}
            <li class="page-item">
                <a  nb="{{ previous }}" href="javascript:void(0)" class="page-link changePagination" >
                    <i class="fa fa-angle-left"></i>
                </a>
            </li>
        {% else %}
            <li class="disabled page-item">
                <a href="javascript:void(0)"  class="page-link ">
                    <i class="fa fa-angle-left"></i>
                </a>
            </li>
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <li class="page-item">
                    <a nb="{{ page }}" href="javascript:void(0)"   class="page-link changePagination">{{ page }}</a>
                </li>
            {% else %}
                <li class="active page-item">
                    <a href="javascript:void(0)" class="page-link ">{{ page }}</a>
                </li>
            {% endif %}

        {% endfor %}


        {% if next is defined %}
            <li class="page-item">
                <a nb="{{ next }}" href="javascript:void(0)" class="page-link changePagination">
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
        {% else %}
            <li class="disabled">
                <a href="javascript:void(0)"  class="page-link "><i class="fa fa-angle-right"></i> </a>
            </li>
        {% endif %}

        {% if last is defined and current != last %}
            <li class="page-item">
                <a nb="{{ last }}" href="javascript:void(0)" class=" page-link changePagination">
                    <i class="fa fa-angle-right"></i> <i class="fa fa-angle-right"></i>
                </a>
            </li>
        {% else %}
            <li class="disabled">
                <a href="javascript:void(0)"  class="page-link "><i class="fa fa-angle-right"></i> <i class="fa fa-angle-right"></i></a>
            </li>
        {% endif %}

    </ul>
    </nav>

{% endif %}



